{% extends "masterIndex.html" %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'build/css/clientDashboard/clientDashboard.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'build/css/clientDashboard/moduleBlocks.css' %}">

    <link type="text/css" rel="stylesheet" href="{% static 'src/node_modules/nprogress/nprogress.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />

{% endblock %}

{% block headJS %}

{% endblock %}

{% block content  %}

    <div id="app"></div>

{% endblock %}

{% block footerJS %}

    <script src="{% static 'build/js/clientDashboardApp.min.js' %}"></script>

{% endblock %}
