{% extends "masterIndex.html" %}
{% load staticfiles %}

{% block title %}Password Recovery{% endblock %}

{% block css %}
        <link rel="stylesheet" href="{% static 'build/css/base/login.css' %}">
        <link rel="stylesheet" href="{% static 'build/css/clientDashboard/clientLogin.css' %}">
{% endblock %}

{% block headJS %}
    <script>
        var GLOBAL = {
            linkID : "{{linkID}}",
        };
    </script>
{% endblock %}

{% block content  %}

    <div id="app"></div>

{% endblock %}

{% block footerJS %}

    <script src="{% static 'build/js/passwordRecoveryApp.min.js' %}"></script>

{% endblock %}
