{% load staticfiles %}

<html>
<head>
	<title>Home</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'build/css/dashboard.css' %}">

	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/highcharts-more.js"></script>
   	<script src="http://code.highcharts.com/modules/solid-gauge.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

</head>
<body>

	<nav>
	    <div class="nav-wrapper vestBar">
      		<a href="#" class="brand-logo center">Vestivise</a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a href="collapsible.html">Settings</a></li>
			</ul>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="collapsible.html">Logout</a></li>
			</ul>
		</div>
  	</nav>

  	<div class="row moduleRow">
		<div class="col s12 m6 moduleContainer orange">
			<div id="assetBreakMod">
				
			</div>
		</div>
		<div class="col s12 m6 moduleContainer green">
			<div id="returnPerYearMod">
				
			</div>
		</div>
	</div>

	<div class="row moduleRow">
		<div class="col s12 m6 moduleContainer purple">
			<div id="riskMod">
				
			</div>
			
		</div>
		<div class="col s12 m6 moduleContainer blue">
			
		</div>
	</div>
        

</body>

<script src="{% static 'build/js/bar.js' %}"></script>
<script src="{% static 'build/js/pie.js' %}"></script>
<script src="{% static 'build/js/risk.js' %}"></script>
</html>