{% load staticfiles %}

<html>
<head>
	<title>Vestivise</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700,800,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'build/css/dashboard.css' %}">

	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{% static 'bower_components/mdi/css/materialdesignicons.min.css' %}" media="all" rel="stylesheet" type="text/css" />
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/highcharts-more.js"></script>
   	<script src="http://code.highcharts.com/modules/solid-gauge.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

</head>
<body>

	<section>
		<div class="welcome">
			<img id="welcome-header" src="{% static 'media/logo.jpg' %}">
			<h2 id="welcome-tag"> Tag blah blha blah </h2>
			<div id="triangle">
			</div>
			<p id="descriptionCompany">Brief description about company Brief description about companyBrief description about companyBrief description about companyBrief description about companyBrief description about companyBrief description about companyBrief description about companyBrief description about </p>
			<button id="getStarted" class="btn waves-effect waves-light">
				Get Started
  			</button>
		</div>
	</section>

	<section>
		<div id="report">
			<div class="container">
				
				<div class="row">
					<div class="col m6">
						<img id='reportImg' src="{% static 'media/report.jpg' %}" alt="">
					</div>
					<div class="col m6">
						<h1>Traditional Reports</h1>
						<p>asjflksdajfklsd</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		
		<div id="introProduct">
			<span><h1>Welcome To Your New Report</h1></span>
		</div>

		<div class="moduleContainer">
	  		<div class="row moduleRow">
				<div class="col s12 m6 module orange">
					
					<div id="orangeContent">

						<div id="toggleChart" class="fixed-action-btn">
						    <a style="display: none;" id="toggleChartBtn" class="btn-floating blue waves-effect">
						      <i class="large material-icons">insert_chart</i>
						    </a>
						</div>

						<div class="fixed-action-btn" style="position: absolute; display: inline-block; right: 24px; top: 0px">
						    <a id="toggleMod" class="btn-floating red waves-effect">
						      <i class="large material-icons">replay</i>
						    </a>
						</div>

						<div id="assetBreakMod"></div>
						<p class="modTitle L">Assets</p>
						<div class="fullScreen BR">
			    			<div class="fullScreen innerBR"></div>
						</div>
					</div>
					
				</div>
				<div class="col s12 m6 module green">
					<div id="greenContent">
						<div id="returnPerYearMod"></div>
						<p class="modTitle R">Returns</p>
						<div class="fullScreen BL">
			    			<div class="fullScreen innerBL"></div>
						</div>	
					</div>
				</div>
			</div>

			<div class="row moduleRow">
				<div class="col s12 m6 module purple">
					<div id="purpleContent">
						<div id="riskMod"></div>
						<p class="modTitle L">Risks</p>
						<div class="fullScreen TR">
			    			<div class="fullScreen innerTR"></div>
						</div>
					</div>
				</div>
				<div class="col s12 m6 module blue">
					<div id="blueContent">
						<div id="feeMod"></div>
						<p class="modTitle R">Costs</p>
						<div class="fullScreen TL">
			    			<div class="fullScreen innerTL"></div>
						</div>
					</div>
				</div>
			</div>
  		</div>
	</section>
	

	<section id="register">
		<div id="emailDiv">
			<div class="container">
				<div class="row">
					<div id="registerHeader" class="col m12">
						<h1>Register</h1>				
					</div>					
				</div>		
				<div class="row">
					<div class="input-field col m12">
						<form >
							<i style="color:#F24258;" class="material-icons prefix">email</i>
							<input id="first_name" type="email" class="validate">
	          				<label for="Email">Email</label>	
	          				<button class="btn waves-effect waves-light" type="submit" name="action">Submit
	    						<i class="material-icons right">send</i>
	  						</button>	
						</form>
					</div>			
				</div>		
			</div>
		</div>
	</section>
  	

</body>

<script>
	Highcharts.setOptions({
		chart: {
        style: {
            fontFamily: 'Raleway, sans-serif'
        }
    }
	});
</script>

<script src="{% static 'build/js/fees.js' %}"></script>
<script src="{% static 'build/js/bar.js' %}"></script>
<script src="{% static 'build/js/pie.js' %}"></script>
<script src="{% static 'build/js/risk.js' %}"></script>
<script src="{% static 'build/js/sectionPie.js' %}"></script>

<script>
 	var hidden = false;
	// $('.innerBR').click(function(){

	// 	if(!hidden){
	// 		$('#blueContent').hide();
	// 		$('#purpleContent').hide();
	// 		$('#greenContent').hide();

	// 		$('.module.green').hide();
	// 		$("body").css("background-color","#FF9800");

	// 		$('.module.orange').animate({
	// 			width: "100%",
	// 			height: "100%",
	// 		}, {
	// 			duration: 1000,
	// 			step: function(){
	// 				$("#assetBreakMod").highcharts().reflow();
	// 			},
	// 			done: function(){
	// 				$('.module.purple').hide();
	// 				$('.module.blue').hide();
	// 				hidden = true;
	// 			}
	// 		});
	// 	}
	// 	else{
	// 		$('.module.purple').show();
	// 		$('.module.blue').show();

	// 		$('.module.orange').animate({
	// 			width: "50%",
	// 			height: "50%",
	// 		}, {
	// 			duration: 1000,
	// 			step: function(){
	// 				$("#assetBreakMod").highcharts().reflow();
	// 			},
	// 			done:function(){
	// 				$('.module.green').show();
	// 				$('#blueContent').show();
	// 				$('#purpleContent').show();
	// 				$('#greenContent').show();
	// 				hidden = false;
	// 			}
	// 		});
	// 	}
		
	// });

	var toggleVar = 0;

	$('#toggleMod').click(function() {

		if(toggleVar == 0){
			$('#toggleChartBtn').show();
			$('#assetBreakMod').highcharts().destroy();
			$('#assetBreakMod').highcharts(sectorOpt);
		}else{
			$('#assetBreakMod').highcharts(assetOpt);
			$('#toggleChartBtn').hide();
		}

		toggleVar = toggleVar == 0 ? 1 : 0;
		
	});

	var dataToggle = 0;

	$('#toggleChartBtn').click(function(){
		var chart = $('#assetBreakMod').highcharts();
		if(dataToggle == 0){
			chart.setTitle({text: "Bond Sectors"});
			chart.series[0].remove();
			dataSeries[0].data = data2;
			chart.addSeries(dataSeries[0]);
		}else{
			chart.setTitle({text: "Equity Sectors"});
			chart.series[0].remove();
			dataSeries[0].data = data1;
			chart.addSeries(dataSeries[0]);
		}
		chart.redraw();
		dataToggle = dataToggle == 0 ? 1 : 0;
	});
	

	$('#getStarted').click(function() {
   		var offset = 20; //Offset of 20px

    	$('html, body').animate({
        	scrollTop: $("#register").offset().top + offset
    	}, 1000);
	});

</script>

</html>