{% load staticfiles %}

<html>
<head>
	<title>Vestivise</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700,800,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'build/css/dashboard.css' %}">

	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{% static 'bower_components/mdi/css/materialdesignicons.min.css' %}" media="all" rel="stylesheet" type="text/css" />
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/highcharts-more.js"></script>
   	<script src="http://code.highcharts.com/modules/solid-gauge.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

</head>
<body>

	<section>
		<div class="welcome">
			<img id="welcome-header" src="{% static 'media/logo.jpg' %}">
			<h2 id="welcome-tag"> Finally, a future you can own.  </h2>
			<div id="triangle">
			</div>
			<p id="descriptionCompany">
				Most people don’t reach their goals. <br> We keep investment reporting simple, 
				so in the good times and bad, we will be there to guide you.
			</p>
			<button id="getStarted" class="btn waves-effect waves-light">
				Get Started
  			</button>
		</div>
	</section>

	<section>
		<div id="report">
			<div class="container">
				
				<div class="row">
					<div style="text-align:center;" class="col m6">
						<img id='reportImg' src="{% static 'media/report.jpg' %}" alt="">
					</div>
					<div style="text-align: left;" class="col m6">
						<h3>A Thing Of The Past</h3>
						<div>
							<p style="color: #ecf0f1; font-size: 28px;">
							Investment companies are confusing you. You want essentials, not a page filled with numbers. You want to grasp the big picture, without having to know everything first. Traditional reports will be a thing of the past.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		
		<div id="introProduct">
			<span><h1>Welcome To Your New Report</h1></span>
		</div>

		<div class="moduleContainer">
	  		<div class="row moduleRow">
				<div class="col s12 m6 module orange">
					
					<div id="orangeContent">

						<div id="toggleChart" class="fixed-action-btn">
						    <a style="display: none;" id="toggleChartBtn" class="btn-floating blue waves-effect">
						      <i class="large material-icons">insert_chart</i>
						    </a>
						</div>

						<div class="fixed-action-btn" style="position: absolute; display: inline-block; right: 24px; top: 0px">
						    <a id="toggleMod" class="btn-floating red waves-effect">
						      <i class="large material-icons">replay</i>
						    </a>
						</div>

						<div id="assetBreakMod"></div>
						<p class="modTitle L">Assets</p>
						<div class="fullScreen BR">
			    			<div class="fullScreen innerBR"></div>
						</div>
					</div>
					
				</div>
				<div class="col s12 m6 module green">
					<div id="greenContent">
						<div id="returnPerYearMod"></div>
						<p class="modTitle R">Returns</p>
						<div class="fullScreen BL">
			    			<div class="fullScreen innerBL"></div>
						</div>	
					</div>
				</div>
			</div>

			<div class="row moduleRow">
				<div class="col s12 m6 module purple">
					<div id="purpleContent">
						<div id="riskMod"></div>
						<p class="modTitle L">Risks</p>
						<div class="fullScreen TR">
			    			<div class="fullScreen innerTR"></div>
						</div>
					</div>
				</div>
				<div class="col s12 m6 module blue">
					<div id="blueContent">
						<div id="feeMod"></div>
						<p class="modTitle R">Costs</p>
						<div class="fullScreen TL">
			    			<div class="fullScreen innerTL"></div>
						</div>
					</div>
				</div>
			</div>
  		</div>
	</section>
	

	<section id="register">
		<div id="emailDiv">
			<div class="container">
				<div class="row">
					<div id="registerHeader" class="col m12">
						<h1>Ready To Be One Of The Firsts?</h1>		
						<p>We haven't launched yet, but we are admitting people into beta. We'd be happy to keep you posted on the beta launch!</p>	
						<a href="mailto:josh@vestivise.com">Questions? Send us a line!</a>	
					</div>					
				</div>		
				<div class="row">
					<div class="input-field col m12">
						<form id="submitEmail">
							<i style="color:#F24258;" class="material-icons prefix">email</i>
							<input name='email' id="email" type="email" class="validate">
	          				<label for="email">Email</label>	
	          				<button class="btn waves-effect waves-light" type="submit">Submit
	    						<i class="material-icons right">send</i>
	  						</button>
						</form>
					</div>			
				</div>		
			</div>
		</div>
	</section>

	<!-- Modal Structure -->
	<div id="modal1" class="modal modal-fixed-footer">
		<div class="modal-content">
			<h4>Know anyone else?</h4>
			<p>
				Invite some friends! If at least one of them sign up you get the <span style="color: #2e8ece;">Insights 
				(2 accounts, the additional insight modules)</span> tier for free!
			</p>
			<div class="container">
				<div class="row">
					<form id="referalForm">
						<div class="input-field col s12">
                        <input name='email1' type="email" class="validate">
                        <label for="email1">Email 1</label>
	                    </div>
	                    <div class="input-field col s12">
	                        <input name='email2' type="email" class="validate">
	                        <label for="email2">Email 2</label>
	                    </div>
	                    <div class="input-field col s12">
	                        <input name='email3' type="email" class="validate">
	                        <label for="email3">Email 3</label>
	                    </div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button id="submitReferal" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</button>
			<button  class="modal-action modal-close waves-effect waves-green btn-flat">No Thanks!</button>
		</div>
	</div>
  	

</body>

<script>
	Highcharts.setOptions({
		chart: {
        style: {
            fontFamily: 'Raleway, sans-serif'
        }
    }
	});
</script>

<script src="{% static 'build/js/fees.js' %}"></script>
<script src="{% static 'build/js/bar.js' %}"></script>
<script src="{% static 'build/js/pie.js' %}"></script>
<script src="{% static 'build/js/risk.js' %}"></script>
<script src="{% static 'build/js/sectionPie.js' %}"></script>

<script>

	$('#submitEmail').on('submit', function(e){
		e.preventDefault();

		var email = $('#email').val();
		if(!email){
			return;
		}

		var data = {
			email : email,
			csrfmiddlewaretoken: '{{ csrf_token }}'
		}
		$.ajax({
			url: '{% url "email-list" %}',
			type: 'POST',
			data: data,
		})
		.done(function() {
			console.log("success");
		})
		.fail(function(e) {
			console.log('error');
			console.log(e);
		})
		.always(function(){
			$('#modal1').openModal();
		})
	});

	$('#submitReferal').click(function(e){
		e.preventDefault();
		var data = $('#referalForm :input').serializeArray();
		data.forEach(function (object) {
			var email = object.value;

			if(!email){
				return true;
			}

			var data = {
				email : email,
				csrfmiddlewaretoken: '{{ csrf_token }}',
				refree: $('#email').val()
			}
			$.ajax({
				url: '{% url "referal-list" %}',
				type: 'POST',
				data: data,
			})
			.done(function() {
				console.log("success");
			})
			.fail(function() {
				console.log("error");
			})
			.always(function() {
				console.log("complete");
			});
			
		});
	});

 	var hidden = false;
	// $('.innerBR').click(function(){

	// 	if(!hidden){
	// 		$('#blueContent').hide();
	// 		$('#purpleContent').hide();
	// 		$('#greenContent').hide();

	// 		$('.module.green').hide();
	// 		$("body").css("background-color","#FF9800");

	// 		$('.module.orange').animate({
	// 			width: "100%",
	// 			height: "100%",
	// 		}, {
	// 			duration: 1000,
	// 			step: function(){
	// 				$("#assetBreakMod").highcharts().reflow();
	// 			},
	// 			done: function(){
	// 				$('.module.purple').hide();
	// 				$('.module.blue').hide();
	// 				hidden = true;
	// 			}
	// 		});
	// 	}
	// 	else{
	// 		$('.module.purple').show();
	// 		$('.module.blue').show();

	// 		$('.module.orange').animate({
	// 			width: "50%",
	// 			height: "50%",
	// 		}, {
	// 			duration: 1000,
	// 			step: function(){
	// 				$("#assetBreakMod").highcharts().reflow();
	// 			},
	// 			done:function(){
	// 				$('.module.green').show();
	// 				$('#blueContent').show();
	// 				$('#purpleContent').show();
	// 				$('#greenContent').show();
	// 				hidden = false;
	// 			}
	// 		});
	// 	}
		
	// });

	var toggleVar = 0;

	$('#toggleMod').click(function() {

		if(toggleVar == 0){
			$('#toggleChartBtn').show();
			$('#assetBreakMod').highcharts().destroy();
			$('#assetBreakMod').highcharts(sectorOpt);
		}else{
			$('#assetBreakMod').highcharts(assetOpt);
			$('#toggleChartBtn').hide();
		}

		toggleVar = toggleVar == 0 ? 1 : 0;
		
	});

	var dataToggle = 0;

	$('#toggleChartBtn').click(function(){
		var chart = $('#assetBreakMod').highcharts();
		if(dataToggle == 0){
			chart.setTitle({text: "Bond Sectors"});
			chart.series[0].remove();
			dataSeries[0].data = data2;
			chart.addSeries(dataSeries[0]);
		}else{
			chart.setTitle({text: "Equity Sectors"});
			chart.series[0].remove();
			dataSeries[0].data = data1;
			chart.addSeries(dataSeries[0]);
		}
		chart.redraw();
		dataToggle = dataToggle == 0 ? 1 : 0;
	});
	

	$('#getStarted').click(function() {
   		var offset = 20; //Offset of 20px

    	$('html, body').animate({
        	scrollTop: $("#register").offset().top + offset
    	}, 1000);
	});

</script>

</html>