{% extends 'masterIndex.html' %}
{% load staticfiles %}

{% block title %}Vestivise – Simple Investment Reporting{% endblock %}

{% block css %}
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700,800,900' rel='stylesheet' type='text/css'>
	<!-- Compiled and minified CSS -->
	<link href="{% static 'bower_components/SpinKit/css/spinkit.css' %}" rel="stylesheet">
	<link href="{% static 'bower_components/hover/css/hover-min.css' %}" media="all" rel="stylesheet" type="text/css" />

{% endblock %}

{% block headJS %}

	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
   	<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>

{% endblock %}

{% block content  %}

  	<div id="app"></div>
	
{% endblock %}
	
{% block footerJS %}
	<script src="{% static 'build/js/dashboardApp.min.js' %}"></script>
{% endblock %}