{% extends 'masterIndex.html' %}
{% load staticfiles %}

{% block title %}Link Account{% endblock %}


{% block css %}
    <link href="{% static 'bower_components/please-wait/build/please-wait.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/SpinKit/css/spinkit.css' %}" rel="stylesheet">
	<style rel=stylesheet>
		.sk-cube-grid .sk-cube {
			background-color: #FFFEFE;
		}
	</style>
{% endblock %}

{% block headJS %}
	<script type="text/javascript" src="{% static 'bower_components/please-wait/build/please-wait.min.js' %}"></script>
{% endblock %}

{% block content %}



    <div id="linkAccountApp"></div>
		

{% endblock %}


{% block footerJS %}
	<script src="{% static 'build/js/linkAccountApp.min.js' %}"></script>
{% endblock %}
